.title{
  color: #02ccba;
  background-color: #F78181;
}
.p{
  font-size: 22px;
}
.h5{
  font-size:22px;
}

li{
display:block;
}

body{
  background-color: #FFFFFF;
}
h4{
  border-bottom: solid 3px #5858FA;
  width:200px;
}
input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}
.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}
